#content {
    width: 300px;
    height: 300px;
    background: pink;
    margin-top: 20px;
}


input {
    padding: 5px;
    border-radius: 20px;
}

label {
    display: block;
    margin: 20px ;
}

.clouse {
    border: 1px solid gray;
    border-radius: 80px;

}

.priceValue {
    background: whitesmoke;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 30px;
}